
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.vue'
import CommonFooter from '@/components/common/CommonFooter.vue'
import DestinationContent from '@/components/destination-detail/DestinationContent.vue'
---

<BaseLayout title="目的地详情 - 城市转盘">
  <div class="flex flex-col min-h-screen bg-background">
    <CommonHeader client:load showBackButton={true} backUrl="./home-explorer.html" />
    
    <main class="flex-1">
      <DestinationContent client:load />
    </main>
    
    <CommonFooter />
  </div>
</BaseLayout>
